<h2>Create New User</h2>
<form method="POST" action="/komer/users">
    <div>
        Name: <input type="text" name="name"/>
    </div>
    <div>
        Password: <input type="text" name="password"/>
    </div>
    
    <input type="submit">
</form>
