
<form method="GET" action="/komer/recipes/search">
    <div>
        Insert Name to search: <input type="text" name="name"/>
    </div>

    <div>
        How Many? (Optional) <input type="text" name="quantity"/>
    </div>
    
    <input type="submit">
</form>
